*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navar-brand{
    font-size: 2rem;
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;

}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80px;
    border-radius: 60px;
    outline: none;
    margin-right: -35;
    border: 2px solid rgb{248, 26, 92};
}
.btn0{
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    font-weight: 700;
}