*{
    padding: 0;
    margin: 0;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    flex-wrap: wrap;
    /* flex-direction: row; */
}
.red{
    background-color: white;
    /* padding: 20px; */
    box-shadow: 2px 3px 10px rgba(255, 0, 0, .339);
    width: 20%;
}
.red div{
    padding: 20px;
}
button{
    background-color: red ;
    color: whitesmoke;
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 20px;
    margin: 10px 20px;
}
.purple{
    background-color: white;
    /* padding: 20px; */
    width: 25%;
    box-shadow: 2px 3px 10px rgba(255, 0, 0, .339);
}
.purple div{
    padding: 20px;
}
.green{
    background-color: white;
    /* padding: 20px; */
    width: 20%;
    box-shadow: 2px 3px 10px rgba(255, 0, 0, .339);
}
.green div{
    padding: 20px;
}